---
import VideoTikTok from '../components/VideoTikTok.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="w-full h-screen bg-black">
		<VideoTikTok videoSrc="/video.mp4" likes={1234} comments={456} shares={789} />
	</div>
</Layout>
