---

const { stat, text, percentage } = Astro.props;
---

<div class="bg-white/50 backdrop-blur-sm rounded-sm p-4">
  <h2 class="font-bold text-purple-400 text-5xl">{stat}</h2>
  <p class="text-black">{text}</p>
  <p class="text-purple-400">{percentage}% <span class="text-gray-500">7d</span></p>
</div>


