---
import Layout from "../../layouts/Layout.astro";


---
<Layout title="Exito">
    <main class="h-screen w-screen flex flex-col items-center justify-center">
        <h1 class="text-2xl font-bold text-purple-700">Peticion Enviada con Exito</h1>
        <p class="text-lg text-gray-600">Te contactaremos pronto</p>
        <a href="/" class="text-blue-600 hover:text-blue-800 transition">Volver al inicio</a>
    </main>
  </Layout>
